<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438326992841-b8ksh2k47bkerdf0p0uv7gvv1nleig49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438326992841-b8ksh2k47bkerdf0p0uv7gvv1nleig49</string>
	<key>API_KEY</key>
	<string>AIzaSyCZHkAEUw7ak3vO-E0-lOifNeFbTYqO8bE</string>
	<key>GCM_SENDER_ID</key>
	<string>438326992841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqsFinalProject</string>
	<key>PROJECT_ID</key>
	<string>awasome-aqs</string>
	<key>STORAGE_BUCKET</key>
	<string>awasome-aqs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438326992841:ios:0136a84c844568635fd218</string>
</dict>
</plist>